html {
  font-size: 26.66667vw;
}
body {
  font-size: .14rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
img {
  vertical-align: middle;
}
#header {
  display: flex;
  background-color: #006699;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
#header .left,
#header .right {
  height: .45rem;
  width: .45rem;
}
#header .left a,
#header .right a {
  color: #fff;
}
#header .left a {
  display: block;
  text-align: center;
  line-height: .45rem;
}
#header .center {
  flex: 1;
  text-align: center;
}
#header .center h4 {
  line-height: .45rem;
  font-weight: 500;
}
#header .center form {
  padding-top: .05rem;
}
#header .center form input {
  background-color: #fff;
  height: .35rem;
  margin-bottom: 0;
  color: #000;
  text-align: left;
  font-size: .14rem;
}
#header .right {
  text-align: center;
  line-height: .45rem;
}
/* 中间的主体区域的样式 这个每个页面都要放到公共样式中 */
#main {
  padding: .45rem 0;
  height: 100vh;
}
#main .mui-scroll-wrapper {
  position: relative;
  height: 100%;
}
#main .swiper-container {
  height: 100%;
}
#main .swiper-container .swiper-slide {
  height: auto;
}
#main a {
  display: block;
}
#main a img {
  width: 100%;
}
#footer {
  background-color: #006699;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}
#footer a {
  height: .45rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}
#footer a span {
  line-height: .14rem;
}
#footer a.active {
  color: orange;
}
.search-form {
  padding: .1rem;
}
.search-form form {
  display: flex;
}
.search-form form input {
  flex: 1;
  height: .36rem;
  background-color: #fff;
  border: 0.01rem solid #006699;
  text-align: left;
  font-size: .14rem;
  border-radius: .06rem 0  0 .06rem;
  margin-bottom: 0;
}
.search-form form button {
  width: .6rem;
  height: .36rem;
  background-color: #006699;
  border-color: #006699;
  border-radius: 0 .06rem .06rem 0;
  margin-bottom: 0;
}
#main {
  background-color: #fff;
}
#main #detail-list .product-price span {
  color: red;
  font-weight: 600;
}
#main #detail-list .product-price del {
  color: #ccc;
}
#main #detail-list .product-size {
  line-height: .33rem;
}
#main #detail-list .product-size span .mui-btn {
  margin-bottom: .05rem;
}
#footer {
  background-color: #ccc;
  height: .45rem;
}
#footer .fa-shopping-cart {
  color: #333;
  font-size: .2rem;
}
#footer .mui-row > .mui-col-xs-5 {
  padding: 0.06rem .05rem;
}
#footer .mui-row > .mui-col-xs-5 button {
  width: 100%;
}
