@import 'base.less';

// 搜索页面的主体样式
#main{
    background-color: #fff;

    // 搜索历史样式
    .search-history{

        .mui-card-header {
            span {
                font-size: .14rem;
            }

            a {
                font-size: .14rem;
                color: #666;
            }

            .mui-table-view-cell:after {
                left: 0;
            }
        }
    }
}